.order-container {
    padding: 20px 10px;
}

.table-style {
    width: 100%;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 25px;
}

.table-style tr:nth-child(odd) {
    background: #fff;
    /* padding: 15px; */
}

.table-style tr td {
    padding: 6px 15px;
}

.table-style tr td:nth-child(even) {
    text-align: right;
    /* font-weight: 700; */
}

.table-style tr td:nth-child(odd) {
    text-align: left;
}